.main {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 1fr 1fr;
  row-gap: 5px;
  border-radius: 4px;
  box-shadow: #00000080 0px 5px 5px;
  background-color: #1fd1c8;
}

.miniprofile {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #1fd1c8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.posts {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #1fd1c8;
  border-radius: 4px;
}
