.nav {
    background-color: #1fd1c8;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    padding: 10px;
    text-align: justify;
    border-radius: 4px;
    box-shadow: #00000080 0px 5px 5px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 24px;
  }
  
  .list:last-of-type {
    margin-top: 20px;
  }